BACKEND_INTEGRACAO_ANOTAAI_PDV7_URL="http://localhost:5101/api/importar"
BACKEND_INTEGRACAO_KEETA_PDV7_URL="http://localhost:5102/api/importar"
BACKEND_INTEGRACAO_99FOOD_PDV7_URL="http://localhost:5103/api/importar"